@{ ViewData["Title"] = "Index"; }

<h1>Welcome, to Lab 04 - The Entity Framework.</h1>
<br />
<br />
<h1>
    Hello, my name is Dhruv Patel (040997897).<br>
    I am studing Computer Engineering Technology at Algonquin College.<br>
    <br />Course comment - The course is very good for learning.
</h1>